<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<div class="container">

    <div class="bio-div">
    SOME BIO INFO
    </div>

    <div class="posts-div">
    POSTS
    </div>

</div>