// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    width: 100%;
    background-color: red;
    display: flex;
}

.bio-div {
    width: 30%;
    background-color: blue;
}

.posts-div {
    width: 60%;
    background-color: blue;
}